<mat-toolbar color="primary" class="app-toolbar">
  <a class="app-toolbar__brand" routerLink="/">
    Life Copilot
  </a>

  <span class="app-toolbar__spacer"></span>

  <nav class="app-toolbar__nav" *ngIf="isSignedIn">
    <a mat-button routerLink="/">Dashboard</a>
    <a mat-button routerLink="/goals">Goals</a>
    <a mat-button routerLink="/weekly">Weekly</a>
    <a mat-button routerLink="/daily">Daily</a>
    <a mat-button routerLink="/inbox">Inbox</a>
    <button
      mat-icon-button
      type="button"
      class="app-toolbar__theme-button"
      (click)="toggleTheme()"
      [attr.aria-label]="'Switch to ' + nextThemeLabel"
      [title]="'Switch to ' + nextThemeLabel"
    >
      <mat-icon>{{ nextThemeIcon }}</mat-icon>
    </button>
    <button mat-button type="button" (click)="logout()">Logout</button>
  </nav>

  <button
    mat-icon-button
    class="app-toolbar__menu-button"
    [matMenuTriggerFor]="mobileMenu"
    aria-label="Open navigation menu"
    *ngIf="isSignedIn"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #mobileMenu="matMenu">
    <a mat-menu-item routerLink="/">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>

    <a mat-menu-item routerLink="/goals">
      <mat-icon>flag</mat-icon>
      <span>Goals</span>
    </a>

    <a mat-menu-item routerLink="/weekly">
      <mat-icon>event_note</mat-icon>
      <span>Weekly</span>
    </a>

    <a mat-menu-item routerLink="/daily">
      <mat-icon>today</mat-icon>
      <span>Daily</span>
    </a>

    <a mat-menu-item routerLink="/inbox">
      <mat-icon>inbox</mat-icon>
      <span>Inbox</span>
    </a>

    <button mat-menu-item type="button" (click)="toggleTheme()">
      <mat-icon>{{ nextThemeIcon }}</mat-icon>
      <span>{{ nextThemeLabel }}</span>
    </button>

    <button mat-menu-item type="button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="page">
  <router-outlet></router-outlet>
</div>
