<mat-card>
  <mat-card-title>Sign in</mat-card-title>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" />
  </mat-form-field>

  <div *ngIf="error" class="error-text">{{ error }}</div>

  <button mat-raised-button color="primary" (click)="login()">
    <span class="spinner">
      <span>Sign In</span>
      <mat-spinner *ngIf="loading" class="button-spinner" diameter="25" color="warn"></mat-spinner>
    </span>
  </button>

  <a routerLink="/register">Register</a>
</mat-card>