<mat-card>
    <mat-card-content>
        <p>Company: {{ jobCardData.company }}</p>
        <p>Role: {{ jobCardData.role }}</p>
        <p>Link: {{ jobCardData.link }}</p>
        <p>Next Action: {{ jobCardData.nextAction }}</p>
    </mat-card-content>
    <mat-card-actions>
        <div>
            <button *ngIf="!(jobCardData.stage == 'toApply')" (click)="moveCard(jobCardData, back)">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button *ngIf="!(jobCardData.stage == 'interview')" (click)="moveCard(jobCardData, forward)">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
        <div *ngIf="jobCardData.stage == 'followUp' || jobCardData.stage == 'applied'">
            <button (click)="addJobAction()">Add follow-up action</button>
        </div>
    </mat-card-actions>
    <mat-card-footer>
        <p>Touched: {{ jobCardData.lastTouchedAt | date }}</p>
        <p *ngIf="stale">Stale</p>
    </mat-card-footer>   
</mat-card>