.action-list {
    display: flex;
    flex-direction: column;
}

.goal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content {
    display: flex;
    justify-content: center;
}